<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>One Page</title>
</head>

<body>
<a th:href="@{/file}">file download demo page</a>
<a th:href="@{/upload}">file upload demo page</a>
<a th:href="@{/i18n/excel2others}"><h1>excel to others</h1></a>
<a th:href="@{/i18n/others2excel}"><h1>others to excel</h1></a>
<a th:href="@{/i18n/multiexcel}"><h1>multi excel to others</h1></a>
<a th:href="@{/i18n/excelmerge}"><h1>Merge little excel into main excel</h1></a>
<a th:href="@{/i18n/excelrenametitle}"><h1>excel rename title by one excel</h1></a>
<p>输入两个数字，点submit</p>
<form action="/testAction">
    <input name="numA"/>
    <input name="numB"/>
    <button type="submit">submit</button>
</form>
</body>
</html>