<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div><p>选择文件类型，把多个json或者xml合到一个excel中</p></div>
<div>
    <form method="POST" enctype="multipart/form-data" action="/i18n/others2excel.xls">
        <table>
            <tr>
                <td>templates to upload:</td>
                <td><input type="file" name="files" multiple=""/></td>
            </tr>
            <tr>
                <td>template file type:</td>
                <td>
                    <select name="fileType">
                        <option th:each="state : ${T(com.dyf.i18n.util.FileType).values()}"
                                th:value="${state}"
                                th:text="${state}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
